src/main/mule/gitreposample.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="1d62eb62-e006-44e9-8338-daf87a0e3251" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="gitreposampleFlow" doc:id="c45d70ca-8b27-45a0-bb78-0a8ae6b6bbd6" >
		<http:listener doc:name="Listener" doc:id="1a1893c7-dcb5-4d86-ab05-d5ebef52e825" config-ref="HTTP_Listener_config" path="/testgit"/>
		<ee:transform doc:name="Transform Message" doc:id="669b6de2-cf99-4ebf-a9f9-48f270c1ee41" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"message":"This is Sunaina"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="287a174d-8279-4092-b6bd-3a631acd7005" message="#[payload]"/>
	</flow>
</mule>
